html {
    background:#000000;
    color:#FFF700;
    font-size: small;
	font-family: "Arial black";
}

.parent {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
  }
